#container {
	display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px)
}

.red {
	background: red;
}

.blue {
	background: blue;
}

.green {
	background: green;
}

.yellow {
	background: yellow;
}

.opacity {
	opacity: 0.5;
}